<section class="hero__container">
    <div class="hero__content">
        <div class="hero__text-area">
            <h1 class="hero__title">Welcome to our website</h1>
            <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="hero__button">Learn more</a>
            <span>+5.000 pessoas como você já compraram este produto</span>
        </div>
        <div class="hero__image-area">
            <img src="https://placehold.co/560x640" alt="">
        </div>
    </div>
</section>
