<section class="benefits__container">
    
    <div class="benefits benefits-no-image">
        <div class="benefits__title-container">
            <h2 class="benefits__title">Por que a nossa solução é a melhor do que a atual</h2>
        </div>
        <div class="benefits__content">
            <div class="benefit">
                <div class="benefit__icon">
                    <img src="assets/icons/quality.svg" alt="Qualidade">
                </div>
                <div class="benefit__text">
                    <h3 class="benefit__title">Beneficio 1</h3>
                    <p class="benefit__description">Nossa solução é a melhor do mercado, com a melhor qualidade.</p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit__icon">
                    <img src="assets/icons/quality.svg" alt="Qualidade">
                </div>
                <div class="benefit__text">
                    <h3 class="benefit__title">Beneficio 2</h3>
                    <p class="benefit__description">Nossa solução é a melhor do mercado, com a melhor qualidade.</p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit__icon">
                    <img src="assets/icons/quality.svg" alt="Qualidade">
                </div>
                <div class="benefit__text">
                    <h3 class="benefit__title">Beneficio 3</h3>
                    <p class="benefit__description">Nossa solução é a melhor do mercado, com a melhor qualidade.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="benefits benefits-image">
        <div class="benefits-image__text">
            <p>Tagline</p>
            <h2>Um título breve sobre o benefício do seu produto/serviço</h2>
            <p>Se necessário, destaque mais detalhes sobre o problema que você resolve ou os beneficios do seu produto/serviço</p>
            <ul>
                <li>Destaque os benefícios os as dores que você resolve</li>
                <li>Destaque os benefícios</li>
                <li>Destaque os benefícios</li>
                <li>Destaque os benefícios</li>
            </ul>
            <a href="#" class="benefits__cta">Adquira Já!</a>
        </div>
        <div class="benefits__image">
            <img src="https://placehold.co/560x640" alt="">
        </div>
    </div>

    <div class="benefits benefits-image">
        <div class="benefits-image__text">
            <p>Tagline</p>
            <h2>Um título breve sobre o benefício do seu produto/serviço</h2>
            <p>Se necessário, destaque mais detalhes sobre o problema que você resolve ou os beneficios do seu produto/serviço</p>
            <ul>
                <li>Destaque os benefícios os as dores que você resolve</li>
                <li>Destaque os benefícios</li>
                <li>Destaque os benefícios</li>
                <li>Destaque os benefícios</li>
            </ul>
            <a href="#" class="benefits__cta">Adquira Já!</a>
        </div>
        <div class="benefits__image">
            <img src="https://placehold.co/560x640" alt="">
        </div>
    </div>
    
</section>
