<section class="testimonials__container">
    <div class="testimonials__header">
        <h2 class="testimonials__title">Testemunhos</h2>
        <p class="testimonials__subtitle">Mais social proof com testemunhos de clientes ou reviews do produto/serviço prestado</p>
    </div>
    <div class="testimonials__content">
        
        <div class="testimonials__card">
            <div class="testimonials__rating"></div>
            <p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc nec ultricies.</p>
            <div class="testimonials__img-container">
                <img src="/images/person.png" alt="">
            </div>
            <p class="testimonials__name">Nome do Cliente</p>
            <p class="testimonials__job">Profissão, Empresa</p>
        </div>

        <div class="testimonials__card">
            <div class="testimonials__rating"></div>
            <p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc nec ultricies.</p>
            <div class="testimonials__img-container">
                <img src="/images/person.png" alt="">
            </div>
            <p class="testimonials__name">Nome do Cliente</p>
            <p class="testimonials__job">Profissão, Empresa</p>
        </div>

        <div class="testimonials__card">
            <div class="testimonials__rating"></div>
            <p class="testimonials__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor, nunc nec ultricies.</p>
            <div class="testimonials__img-container">
                <img src="/images/person.png" alt="">
            </div>
            <p class="testimonials__name">Nome do Cliente</p>
            <p class="testimonials__job">Profissão, Empresa</p>
        </div>
    </div>
</section>
